@import "../../styles/vars.css";

.quiz-container {
    background: var(--bg);
    border-radius: 4px;
    margin-top: 10%;
    padding: 30px 60px;
    box-sizing: border-box;
    position: relative;
}

.quiz-container .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: var(--primary);
}

.quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: var(--disabled);
}

.quiz-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.quiz-container ul {
    margin-top: 20px;
    margin-left: -40px;
}

.quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: var(--foreground);
    font-size: 16px;
    background: var(--bg);
    border: 1px solid var(--disabled);
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.quiz-container ul .selected-answer {
    background: var(--primary);
    border: 1px solid var(--accent);
    color: var(--bg);
}

.quiz-container .footer {
    display: flex;
    justify-content: flex-end;
}

.quiz-container button {
    background: rgba(var(--primary), 0.8);
    border-radius: 9px;
    font-size: 18px;
    color: var(--bg);
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.quiz-container button:disabled {
    background: var(--disabled);
    cursor: not-allowed;
}

.quiz-container .result {
    text-align: center;
}

.quiz-container .result h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
}

.quiz-container .result p {
    font-size: 16px;
    font-weight: 500;
}

.quiz-container .result p span {
    font-size: 22px;
    color: var(--primary);
}
